html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
    overflow: hidden;
    font-family: sans-serif !important;
  }
  #tree{
    width:100%;
    height:100%;

  }
  line{    
  stroke: #2bb1e0!important;    
  }
  .boc-edit-form .boc-edit-form-header,
  .boc-edit-form .boc-img-button{
  transition: transform 0.3s ease;
  background-color: #2bb1e0!important;
  }

  .boc-img-button:hover{
    transform: scale(1.1);
    background-color: #007de5 !important;
  }

  .boc-search {
      max-width: 600px;
  }
  
  .boc-search-text-td {
      line-height: 20px !important;
  }
  .boc-search [data-search-item-id]{
      font-size: 14px;
  }

  .boc-search-photo {
	background-size: contain !important;
	background-position: center !important;
	background-repeat: no-repeat;
  }
  
  @media only screen and (min-width: 1000px){
   .boc-edit-form { 
      width: 45% !important;
  }  
  .boc-edit-form.Department { 
      width: 30% !important;
  }  
  
  }
  .boc-filter-menu input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: small;
}

.boc-filter{
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease;
  
}

.boc-filter.revealed {
  visibility: visible; 
  margin-top: 50px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


.filter-div {
  position: absolute;
  display: flex;
  align-items: left;
  z-index: 1;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 30px;
}
.filter-button{
  padding: 10px 20px;
  font-size: 13px;
  margin-right: 10px;
  cursor: pointer;
  background-color: hwb(0 48% 52%);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.ApplyFilters.filter-button:hover{
  background-color: #313131;
}

.RemoveFilters{
  display: none;
  background-color: #e74c3c;
}
.RemoveFilters i {
  margin-right: 5px; 
  color: #ffffff;
}
.ApplyFilters i{
  margin-right: 5px; 
  color: #ffffff;
}
.container {
  width: 50px; 
  height: 50px; 
  margin-top: -7px;
  border-radius: 8px;
  border: 0px solid grey;
  overflow: hidden;
  padding: 8px; 
  box-sizing: border-box;
}
.svg-content {
  width: 100%;
  height: 100%;
}
.boc-filter{
          position: relative;
          top: 0;
          left: 0;
          width: 300px; 
          height: 60%; 
          border-radius: 10px;
          background: linear-gradient(to bottom right,navy, #2bb1e0 ); 
          border-right: 0px solid #ccc; 
          padding: 20px; 
          box-sizing: border-box; 
          transition: left 5s ease;
}

.boc-filter>div {
          width: auto;
          height: 95%; 
          background: transparent !important;
          border-radius: 5px !important;
          overflow-y: auto; 
          
      }
.filter-field-selected{
  background: transparent !important;
  color: white;
}
.boc-filter-menu input[type='text']{
  border: none;
  outline: none;
  color: white;
  background: transparent;
  border-bottom: 1px solid white;
}
.boc-filter>div::-webkit-scrollbar-track, .boc-filter-menu fieldset::-webkit-scrollbar-track{
  background: transparent;
  border: none;
height: 30px !important;
}
.boc-filter>div::-webkit-scrollbar-thumb, .boc-filter-menu fieldset::-webkit-scrollbar-thumb{
  background-color: skyblue;
  border-radius: 5px;

}
.boc-filter>div::-webkit-scrollbar-thumb:active, .boc-filter-menu fieldset::-webkit-scrollbar-thumb:active{
  background-color: rgb(73, 178, 220);
  border-radius: 5px;

}
.boc-filter>div::-webkit-scrollbar-thumb:hover, .boc-filter-menu fieldset::-webkit-scrollbar-thumb:hover{
  background-color: rgb(73, 178, 220);
  border-radius: 5px;

}
.boc-filter-menu input[type='text']::placeholder{
  color: white;
}
.boc-filter>div>div{
  display: block !important;
  border-bottom: 0.5px solid white;
  border-radius: 2px;
  margin-bottom: 7px;
  
  
}
.filter-text{
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  text-transform: capitalize;
}
img{
overflow: hidden;
object-fit: contain;
background: white;
}

.search-item-hovered #department_node{
  fill:url(#gradient2);
}

.search-item-hovered #department_ribbon{
  fill: #ffffff;
}
.search-item-hovered rect {
  fill:#4cbf00;
  
}

.search-item-hovered .field_0,.search-item-hovered .field_1,.search-item-hovered .field_3,.search-item-hovered .field_4 {
  fill: #ffffff;
}

.copy-icon:hover {
        color: #2bb1e0; 
    }

.copy-icon {
        position: relative;
  }
