{% extends 'password_reset/base_password_reset.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <h1 class="title">{{title}}</h1>

    {% if  title == "Password Reset" %}
    <div class="card">
    {% else %}
    <p class="custom-text">Your password has been successfully reset! You can now log in with your new password.</p>
    <a href="/signin" class="login-button">Log in</a>
    <div class="card" style="display: none;">
    
    {% endif %}
    <form method="post" id="passwordResetForm">
        {% csrf_token %}
        <input type="hidden" name="uid" value="{{ uid }}">
        <!-- <label for="password">New password:</label><br> -->
        <input type="password" class="form-control" id="password" name="password" required placeholder="New password">
        <!-- <label for="confirmPassword">Confirm new password:</label><br> -->
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required placeholder="Confirm new password">
        <div class="buttons">
        <button type="submit" class="login-button">Confirm Password Reset</button>
    </div>
    </form>
    </div>
   
{% endblock %}
