{% extends 'password_reset/base_password_reset.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<h1 class="title">{{title}}</h1>
    {% if  title == "Password Reset" %}
    <p class="custom-text">Please enter your email address below to reset your password.</p>
    <div class="card">
    {% else %}
    <p class="custom-text">We've sent you an email with instructions to reset your password.</p>
    <div class="card" style="display: none;">
    
    {% endif %}
    
    <form method="post" id="passwordResetForm">
        {% csrf_token %}
        <input type="text" class="form-control" style="margin-bottom: 15px;" name="email" id="id_email" placeholder="Email Address" required>
        <div class="buttons">
            <a href="/signin" class="register-link">Back to login</a>
        <button type="submit" class="login-button">Reset Password</button>
        </div>
    </form>
</div>

{% endblock %}
