{% extends 'base_index.html' %}

{% block title %}Client Lead{% endblock %}

{% block content %}
<h2 style="text-align: center; margin-bottom: 50px;">Add Client Lead</h2>

<div class="container mt-5">
  <form id="LeadForm" method="post">
    {% csrf_token %}

    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="client_user" class="form-label">Select Client:</label>
          <select class="form-select" id="client_user" name="client_user" required>
            <option disabled selected>Select</option>
            {% for userprofile in available_users %}
              <option value="{{ userprofile.user.id }}">{{ userprofile.user.username }}</option>
            {% endfor %}
          </select>
        </div>
    </div>
</div>


<div class="container mt-2 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="company_name" class="form-label">Organization Name(s):</label>
                            <textarea class="form-control" id="company_name" name="company_name" required placeholder="For e.g. Wipro, Amazon, Alphabet, etc."></textarea>
                        </div>
                       </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="company_url" class="form-label">Organization Website(s):</label>
                                <textarea class="form-control" id="company_url" name="company_url" required data-bs-toggle="tooltip" title="Provide here URL(s) of the Company Name(s) you given above" placeholder="For e.g. 'https://wipro.com', https://insideorgs.sphurti.net, etc. "></textarea>
                            </div>
                        
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="employee_range" class="form-label">Employee Range:</label>
                                <input type="text" class="form-control" id="employee_range" name="employee_range" placeholder="For e.g. 51-200, 201-500, etc." required>
                              </div>
                        </div>
                
                </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="designation" class="form-label">Designation(s):</label>
                        <textarea class="form-control" id="designation" name="designation" required placeholder="For e.g. Managing Director, Head of Department, etc."></textarea>
                    </div>
               
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="department_name" class="form-label">Department Name(s):</label>
                    <textarea class="form-control" id="department_name" name="department_name" required placeholder="For e.g. IT, Finance, Marketing, etc."></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="total_charts_access" class="form-label">Total Number of Charts Requested:</label>
                    <input type="number" class="form-control" id="total_charts_access" name="total_charts_access" placeholder="For e.g. 50, 100, 150, etc." required>
                  </div>
              </div>
            
        </div>
                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="industry_type" class="form-label">Industry Type(s):</label>
                            <textarea class="form-control" id="industry_type" name="industry_type" required placeholder="For e.g. IT, Financial Services, Telecom, etc."></textarea>
                        </div>
                       
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="location" class="form-label">Location(s): </label>
                            <textarea class="form-control" id="location" name="location" required placeholder="For e.g. India, USA, UK, etc."></textarea>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-1">
                          <label for="currency" class="form-label">Cost Currency:</label>
                          <div class="input-group">
                            <select class="form-select" id="currency" name="currency" required>
                              <option value="AUD">&#36; (AUD)</option>
                              <option value="BRL">&#82;&#36; (BRL)</option>
                              <option value="CAD">&#36; (CAD)</option>
                              <option value="CHF">&#67;&#72;&#70; (CHF)</option>
                              <option value="CNY">&#165; (CNY)</option>
                              <option value="EUR">&#8364; (EUR)</option>
                              <option value="GBP">&#163; (GBP)</option>
                              <option value="INR">&#8377; (INR)</option>
                              <option value="JPY">&#165; (JPY)</option>
                              <option value="KRW">&#8361; (KRW)</option>
                              <option value="NZD">&#36; (NZD)</option>
                              <option value="RUB">&#8381; (RUB)</option>
                              <option value="SEK">&#107;&#114; (SEK)</option>
                              <option value="SGD">&#36; (SGD)</option>
                              <option value="USD" selected>&#36; (USD)</option>
                              <option value="ZAR">&#82; (ZAR)</option>
                            </select>
                            <input type="number" class="form-control" id="value_in_currency" name="value_in_currency" placeholder="Amount" required>

                          </div>
                          
                    </div>
                </div>
                </div>  
                
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <div class="mt-3">
                            <label for="required_authorities" class="form-label">Required Authorities [Count]:</label>
                            <input type="number" class="form-control" id="required_authorities" name="required_authorities" required placeholder="For e.g. 50, 100, 150, etc.">
                        </div>

                            <div class="mb-0 form-check">
                                <input type="checkbox" style="width: 1rem; height: 1rem;" class="form-check-input" id="number_inclusion" name="number_inclusion">
                                <label class="form-check-label ml-2" for="number_inclusion">Include Direct Numbers</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="extra_insights" class="form-label">Any Other Insight(s) [Optional]: </label>
                        <textarea class="form-control" id="extra_insights" name="extra_insights" placeholder="Any other insights such as ATS, Job Openings, etc."></textarea>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="value_in_inr" class="form-label">Cost in INR:</label>
                            <input type="number" class="form-control" id="value_in_inr" name="value_in_inr" placeholder="Amount in INR" required>
                          </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                <button id="submit" type="submit" class="btn btn-primary">Add Lead</button></div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
